// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #FAF3B9;  /*クリーム*/
$subColor: #FFFFFF;  /*白*/  
$subsubColor: #FFBA18;  /*オレンジ*/
$keyColor: #63CF8B;  /*緑*/
$fontColor: #4c4c4c;

/*bass
------------------------------------------------------------*/
body{font-size:16px;}

/*トップの画像のところ
------------------------------------------------------------*/
// background-size: cover; を使おう←カリキュラムにあるよ
.shops-icon{
    background-image: url("../images/img-cafe.jpg");
    height:500px;
    width:100%;
    background-size:cover;
    background-position: center center; /* 横の位置（right, center, left） 縦の位置(top, center, bottom) */
}

@media (max-width: 768px) {
    .shops-icon{
        height:250px;
    }    
}

/*3つのボックス
------------------------------------------------------------*/
h1 {
    font-size:20px;
    text-align:center;
    padding:20px;
  }

.container{
    display:flex; // 横並びにする
    justify-content:space-between;
}
.box {
    border: 1px solid#333;
    width: 33%;
    margin: 20px;
    text-align: center;
    
}
.box h2{
    padding: 20px;
}
.box p{
    padding: 20px;
}

@media (max-width: 768px) {
    .box{
        width: 90%;
    }
  .container {
    flex-direction: column;
  }
}


/*ボタン
------------------------------------------------------------*/
.button{
    border: 1px solid #333;
    display: block;
    margin: 0 auto;
    width: 80px;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
}
.map p{
    text-align: center;
    padding-top:20px;
}